
td div {
    border: 2px solid;
    border-radius: 25px;
    height: 480px;
}

#baby1 {
    background-image: url(../images/baby6.jpg);
    background-size: contain;
    display: none;
}

#baby2 {
    background-image: url(../images/baby5.jpg);
    background-size: contain;
    display: none;
}

#baby3 {
    background-image: url(../images/baby4.jpg);
    background-size: contain;
}

#baby4 {
    background-image: url(../images/baby3.jpg);
    background-size: contain;
    display: none;
}

#baby5 {
    background-image: url(../images/baby2.jpg);
    background-size: contain;
    display: none;
}

#baby6 {
    background-image: url(../images/baby1.jpg);
    background-size: contain;
    display: none;
}



#meter1 {
    background-image: url(../images/bar1.jpg);
    background-size: contain;
    display: none;
}

#meter2 {
    background-image: url(../images/bar2.jpg);
    background-size: contain;
    display: none;
}

#meter3 {
    background-image: url(../images/bar3.jpg);
    background-size: contain;
    display: none;
}

#meter4 {
    background-image: url(../images/bar4.jpg);
    background-size: contain;
    display: none;
}

#meter5 {
    background-image: url(../images/bar5.jpg);
    background-size: contain;
}

#meter6 {
    background-image: url(../images/bar6.jpg);
    background-size: contain;
    display: none;
}

#meter7 {
    background-image: url(../images/bar7.jpg);
    background-size: contain;
    display: none;
}

#meter8 {
    background-image: url(../images/bar8.jpg);
    background-size: contain;
    display: none;
}

#meter9 {
    background-image: url(../images/bar9.jpg);
    background-size: contain;
    display: none;
}

#meter10 {
    background-image: url(../images/bar10.jpg);
    background-size: contain;
    display: none;
}

#meter11 {
    background-image: url(../images/bar11.jpg);
    background-size: contain;
    display: none;
}

#meter12 {
    background-image: url(../images/bar12.jpg);
    background-size: contain;
    display: none;
}









.content {
    width: 960px;
}

table {
    width: 100%;
}

