
#title{
    text-align: center;
    color: white;
}

#babypic div {
    border: 2px solid;
    border-radius: 25px;
    height: 446px;
}

#meterbar div {
    border: 2px solid;
    height: 446px;
}

#progressbar div {
    border: 2px solid;
    height: 446px;
    width: 180;
}

#baby1 {
    background-image: url(../images/baby6.jpg);
    background-size: contain;
    display: none;
}

#baby2 {
    background-image: url(../images/baby5.jpg);
    background-size: contain;
    display: none;
}

#baby3 {
    background-image: url(../images/baby4.jpg);
    background-size: contain;
}

#baby4 {
    background-image: url(../images/baby3.jpg);
    background-size: contain;
    display: none;
}

#baby5 {
    background-image: url(../images/baby2.jpg);
    background-size: contain;
    display: none;
}

#baby6 {
    background-image: url(../images/baby1.jpg);
    background-size: contain;
    display: none;
}


#meter0 {
    background-image: url(../images/Meter0.jpg);
    background-size: contain;
    display: none;
}

#meter1 {
    background-image: url(../images/Meter1.jpg);
    background-size: contain;
    display: none;
}

#meter2 {
    background-image: url(../images/Meter2.jpg);
    background-size: contain;
    display: none;
}

#meter3 {
    background-image: url(../images/Meter3.jpg);
    background-size: contain;
    display: none;
}

#meter4 {
    background-image: url(../images/Meter4.jpg);
    background-size: contain;
}

#meter5 {
    background-image: url(../images/Meter5.jpg);
    background-size: contain;
    display: none;
}

#meter6 {
    background-image: url(../images/Meter6.jpg);
    background-size: contain;
    display: none;
}

#meter7 {
    background-image: url(../images/Meter7.jpg);
    background-size: contain;
    display: none;
}

#meter8 {
    background-image: url(../images/Meter8.jpg);
    background-size: contain;
    display: none;
}

#meter9 {
    background-image: url(../images/Meter9.jpg);
    background-size: contain;
    display: none;
}

#progress0 {
    background-image: url(../images/progress0.jpg);
    background-size: contain;
}

#progress1 {
    background-image: url(../images/progress1.jpg);
    background-size: contain;
    display: none;
}

#progress2 {
    background-image: url(../images/progress2.jpg);
    background-size: contain;
    display: none;
}

#progress3 {
    background-image: url(../images/progress3.jpg);
    background-size: contain;
    display: none;
}

#progress4 {
    background-image: url(../images/progress4.jpg);
    background-size: contain;
    display: none;
}

.content {
    /*width: 960px;*/
    /*TODO: help!*/
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

table {
    width: 100%;
}

body {
    background-color: lightskyblue;
}

