
#title{
    text-align: center;
    color: white;
}

#babypic div {
    border: 2px solid;
    border-radius: 10%;
}

#meterbar div {
    border: 2px solid;
}

#progressbar div {
    border: 2px solid;
}

#baby1 {
    background-image: url(../images/baby6.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 59%;
}

#baby2 {
    background-image: url(../images/baby5.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 59%;
}

#baby3 {
    background-image: url(../images/baby4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 59%;
}

#baby4 {
    background-image: url(../images/baby3.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 59%;
}

#baby5 {
    background-image: url(../images/baby2.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 59%;
}

#baby6 {
    background-image: url(../images/baby1.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 59%;
}


#meter0 {
    background-image: url(../images/Meter0.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#meter1 {
    background-image: url(../images/Meter1.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#meter2 {
    background-image: url(../images/Meter2.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#meter3 {
    background-image: url(../images/Meter3.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#meter4 {
    background-image: url(../images/Meter4.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#meter5 {
    background-image: url(../images/Meter5.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#meter6 {
    background-image: url(../images/Meter6.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#meter7 {
    background-image: url(../images/Meter7.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#meter8 {
    background-image: url(../images/Meter8.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#meter9 {
    background-image: url(../images/Meter9.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#progress0 {
    background-image: url(../images/progress0.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#progress1 {
    background-image: url(../images/progress1.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#progress2 {
    background-image: url(../images/progress2.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#progress3 {
    background-image: url(../images/progress3.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

#progress4 {
    background-image: url(../images/progress4.jpg);
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 500%;
}

html body {
    width: 100%;
}

table {
    width: 100%;
}



